{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "no-console": 0,
    "react/no-find-dom-node": 0,
    "react/destructuring-assignment": 0
  }
}
